 *{
  border: 0;
  margin: 0;
  box-sizing: border-box;
 }
 
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note{
   /* border: 1px solid black; */
   display: flex;
   justify-content:space-between;
   flex-direction: column;
   padding: 15px;
   background-color: rgb(255, 255, 133);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   min-height: 200px;
   border-radius: 10px;
   word-wrap: break-word; 
}
.notes-container {
  max-width: 980px;
  padding: 10px;
  margin: 10px auto;
  
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.note-footer{  
  
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.delete-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: black;
  transition-duration: 0.2s;

}
.delete-btn:hover{
  background-color: red;
  color: white;
}

.new-note{
  background-color: aquamarine;
}

.new-note textarea {
  height: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
}
.add-btn {
  background-color: white;
  padding: 7px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box {
  width: 100%;
  /* border: 1px solid black; */
  max-width: 980px;
  margin: auto;
}

.search-box input{
  width: 100%; 
  background-color: transparent;
  border: none;
  max-width: 980px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.header{
  max-width: 980px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block; 
  width: 62px;
  height: 35px;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
  opacity: 1;
  width: 0;
  height: 0;
 }
 
 /* The slider */
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: .4s;
  border-radius: 30px;
  border: 1px solid #ccc;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: .4s;
 }
 
 input:checked + .slider {
  background-color: #5fdd54;
  border: 1px solid transparent;
 }
 
 input:checked + .slider:before {
  transform: translateX(1.5em);
 }
 
 